<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="></th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      
    </tbody>
</table>
